
<mat-toolbar>
   
    <button mat-icon-button *ngIf="sidenav.mode === 'over'" (click)="sidenav.toggle()">
        <mat-icon *ngIf="!sidenav.opened">menu</mat-icon>
        <mat-icon *ngIf="sidenav.opened">close</mat-icon>
    </button>
    Zarządzanie projektami
</mat-toolbar>
<mat-sidenav-container>
    <mat-sidenav #sidenav="matSidenav"><div id="wrapDiv">
      <div id="firstDiv">
      <p>Projects No.</p>
    <p class="number">2</p>
  </div>
  <div id="secDiv">
    <p>Started</p>
    <p class="started">1</p>
  </div>
  <div id="lastDiv">
    <p>Done</p>
    <p class="done">0</p>
  </div>
  </div>
  
    </mat-sidenav>
    <mat-sidenav-content><router-outlet></router-outlet></mat-sidenav-content>
  
  </mat-sidenav-container>



