<div class="card">
<div class="card-title"><p>{{projDetails?.name}}</p></div>
<div class="card-content">
    <mat-grid-list cols="4" rowHeight="50px">
       
        <mat-grid-tile colspan="1"><mat-card class="elem" id="priority">{{projDetails?.priority}}</mat-card></mat-grid-tile>
        <mat-grid-tile colspan="1"><mat-card class="elem" id="status">a</mat-card></mat-grid-tile>
        <mat-grid-tile colspan="1"><mat-list id="category"><mat-list-item>a</mat-list-item></mat-list></mat-grid-tile>
        <mat-grid-tile colspan="1"><mat-list id="involved"><mat-list-item>a</mat-list-item></mat-list></mat-grid-tile></mat-grid-list>

        <mat-card class="describe">Opis</mat-card>
        <button class="buttonn" mat-raised-button color="primary">+1</button>
</div>
</div>