.card{

width: 70%;
margin: auto;
}
.card-title{
    border-color: white;
    border-bottom: solid 2px;
    font-family:'Courier New', Courier, monospace;
    font-weight: bold;
    font-size: large;
    background-color: #303030;
    padding-top: 16px;
    padding-bottom: 8px;
    width: 100%;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
    color: white;

p{
margin-left: 30px;
    }}
.card-content{    background-color: #303030;
    padding-top: 16px;
    padding-bottom: 16px;
    width: 100%;
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
    text-align: center;
    }

    .elem{width: 150px;
    border-radius: 10px;
    font-family:'Courier New', Courier, monospace;
    font-size: medium;}

    .describe{
        padding: 20px;
        margin-left: 100px;
        margin-right: 100px;
        margin-top: 50px;
        margin-bottom: 30px;
        font-family:'Courier New', Courier, monospace;
        font-size: medium;}

        .buttonn{width: 90%;
        padding: 5px;
        margin-left: 20px;
        margin-right: 20px;
        margin-bottom: 30px;
       
    }

    